html {
  scroll-behavior: smooth;
}
/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*============= TOP BAR HEADER =============*/
.top-bar {
  background: #7aaec4;
  height: 2.8rem;
  padding: .5rem 0;
}
/* 1rem = 16 px */ 
.top-bar a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/*============= NAVIGATION =============*/

.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
  z-index: 1;
}
.nav-item{
  padding: 05rem;
}
.nav-link{
  color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover{
  color: #4981b3!important;
}
/*============= CAROUSEL =============*/
#carousel{
  box-shadow: 0 1rem 1rem rgba( 0, 0, 0, .2);
}
.carousel-inner{
  max-height: 54rem!important;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: transform 1.2s ease;
}

/*-- Carousel Content --*/
.carousel-caption{
  position: absolute;
  top:50%;
  transform:translateY(-50);
  text-transform: uppercase;
}
.bg-custom{
  background-color: rgba(0, 0, 0, .4);
  color:white;
  border-radius: 1rem;
}
.carousel-caption h2{
  font-size: 3rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}
.border-primary{
  border-top: .2rem solid #4981b3!important;
}
.carousel-caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}
btn-lg{
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}
btn-primary{
  background-color: #4981b3;
  border: .05rem solid #4981b3
}
btn-primary:hover{
  background-color: #68a0d2;
  border: .05rem solid #68a0d2;
}

/* --------------------show more------------- */
.read-more-state {
  display: none;
}
.read-more-trigger:hover {
  color: white;
  background-color: #222222;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .35s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .5em;
}

/* --------------------show more 2------------- */
.read-more-state2 {
  display: none;
}
.read-more-trigger2:hover {
  color: white;
  background-color: #222222;
}

.read-more-target2 {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .35s ease;
}

.read-more-state2:checked ~ .read-more-wrap2 .read-more-target2 {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state2 ~ .read-more-trigger2:before {
  content: 'Show more';
}

.read-more-state2:checked ~ .read-more-trigger2:before {
  content: 'Show less';
}

.read-more-trigger2 {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .5em;
}
/* --------------------show more 3------------- */
.read-more-state3 {
  display: none;
}
.read-more-trigger3:hover {
  color: white;
  background-color: #222222;
}

.read-more-target3 {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .35s ease;
}

.read-more-state3:checked ~ .read-more-wrap3 .read-more-target3 {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state3 ~ .read-more-trigger3:before {
  content: 'Show more';
}

.read-more-state3:checked ~ .read-more-trigger3:before {
  content: 'Show less';
}

.read-more-trigger3 {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .5em;
}


/* --------------------show more 4------------- */
.read-more-state4 {
  display: none;
}
.read-more-trigger4:hover {
  color: white;
  background-color: #222222;
}

.read-more-target4 {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .35s ease;
}

.read-more-state4:checked ~ .read-more-wrap4 .read-more-target4 {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state4 ~ .read-more-trigger4:before {
  content: 'Show more';
}

.read-more-state4:checked ~ .read-more-trigger4:before {
  content: 'Show less';
}

.read-more-trigger4 {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .5em;
}

/* --------------------show more 5------------- */
.read-more-state5 {
  display: none;
}
.read-more-trigger5:hover {
  color: white;
  background-color: #222222;
}

.read-more-target5 {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .35s ease;
}

.read-more-state5:checked ~ .read-more-wrap5 .read-more-target5 {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state5 ~ .read-more-trigger5:before {
  content: 'Show more';
}

.read-more-state5:checked ~ .read-more-trigger5:before {
  content: 'Show less';
}

.read-more-trigger5 {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .5em;
}

/* --------------------show more 6------------- */
.read-more-state6 {
  display: none;
}
.read-more-trigger6:hover {
  color: white;
  background-color: #222222;
}

.read-more-target6{
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .35s ease;
}

.read-more-state6:checked ~ .read-more-wrap6 .read-more-target6 {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state6 ~ .read-more-trigger6:before {
  content: 'Show more';
}

.read-more-state6:checked ~ .read-more-trigger6:before {
  content: 'Show less';
}

.read-more-trigger6 {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .5em;
}
/* Other style */ 



/*===== FIXED BACKGROUND IMG =====*/
.fixed{background-image: url('../img/matrix.jpg');
  position: fixed;
}
.fixed-background{
  padding: 3rem 0;
}


/*-- Emoji Navbar --*/
.serve{
  background-image: linear-gradient(to right,#4981b3,#ac2615);
  min-height: 0!important;
}
.serve .svg-inline--fa{
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
}

/*============= FOOTER =============*/
footer{
  background-color: #383838;
  padding: 1rem 2rem 3rem;
}
footer img{
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p,footer a{
  color: white;
  text-decoration: none;
}
ul.social{
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li{
  margin:0 auto;
}
footer .svg-inline--fa{
  font-size: 2.5rem;
}
footer .svg-inline--fa:hover{
  color: #68a0d2;
}


/*============= SOCKET =============*/
.socket{
  background-color: #222222;
  border-top: .1rem solid #4981b3
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h1{
    font-size: 2.8rem;
  }
  .carousel-caption h3{
    font-size: 1.8rem;
  }
}
/* Devices under 992px (lg) */
@media (max-width: 991.98px) {
  .carousel-caption h1{
    font-size: 2.5rem;
  }
  .carousel-caption h3{
    font-size: 1.5rem;
  }
  .btn-lg{
    font-size: .95rem;
  }
}
@media screen and (max-width: 700px) {
  .box1, .box2,.box3 {   
    flex-direction: column;
  }
}

/*----------contac----------*/
.
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
